.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cells {
   display: inline-block;
   border-color: #aacccc;
   border-width: thin;
   border-style: solid;
   
}

.cell {
   display: inline-block;
   vertical-align :"middle";
   margin-left:10px;
   margin-right:10px;
}

.slider {
   width: 200px;
}

.toggle {
   width: 200px;
}
